.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.block-left-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.block-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-top: 0.5rem;
}

.block-title {
    font-size: 1.1rem;
    color: #000;
    /* text-decoration: none; */
}

/*
.block-title a:hover {
    color: #555;
} */

.block-links {
    display: inline-block;
}

.block-link {
    font-size: 0.9rem;
    display: inline-block;
}

.block-date {
    text-align: right;
}

.block-image {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.block-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.block-images a {
    width: 45%;
    transition: 0.3s;
}

.block-images a:hover {
    opacity: 0.7;
}