:root {
    --bg-primary: #007d3c;
    --bg-primary-subtle: rgb(77, 192, 133);
    --text-color-light: #ddffde;
    --text-color-light-subtle: hsl(141, 73%, 80%);

    --breakpoint-sm: 576px;
    --breakpoint-md: 768;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: balance;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(233, 233, 233);
}

.bg-primary {
    background-color: var(--bg-primary);
    color: var(--text-color-light);
}

.bg-primary-subtle {
    background-color: var(--bg-primary-subtle);
    color: var(--text-color-light);
}

.bg-primary-subtle p {
    color: var(--text-color-light-subtle);
}

.bg-primary p {
    color: var(--text-color-light-subtle);
}

.bg-white {
    background-color: #fff;
}

.container {
    display: flex;
}
.container-child {
    padding: 1rem;
}
.container-main {
    width: 1320px;
    margin: 0 auto;
}

/* centering classes */
.align-text-center {
    text-align: center;
}
.justify-content-center {
    justify-content: center;
}
/*  */

/* flex-direction classes */
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
/*  */

/* margin classes */
/* margin-top classes */
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
/*  */
/*  */

/* order classes */
.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
/*  */

/* padding classes */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
/* padding-x classes */
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}
/*  */

/* padding-y classes */
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/*  */

/* padding-left classes */
.ps-1 {
    padding-left: 1rem;
}
.ps-2 {
    padding-left: 2rem;
}
.ps-3 {
    padding-left: 3rem;
}
/*  */

/* padding-right classes */
.pe-1 {
    padding-right: 1rem;
}
.pe-2 {
    padding-right: 2rem;
}
.pe-3 {
    padding-right: 3rem;
}
/*  */

/* padding-top classes */
.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem;
}
/*  */

/* padding-bottom classes */
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
/*  */
/*  */

/* text-color classes */
.text-color-light {
    color: var(--text-color-light);
}
.text-color-light-subtle {
    color: var(--text-color-light-subtle);
}
/*  */

/* width classes */
.w-0 {
    width: 0;
}
/* width % classes */
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-33 {
    width: 33.33%;
}
.w-50 {
    width: 50%;
}
.w-66 {
    width: 66.66%;
}
.w-75 {
    width: 75%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
/*  */

/* width px classes */
.w-1 {
    width: 540px;
}
.w-2 {
    width: 720px;
}
.w-3 {
    width: 960px;
}
.w-4 {
    width: 1140px;
}
.w-5 {
    width: 1320px;
}
/*  */
/*  */

@media screen and (max-width: 1400px) {
    .container-main {
        width: 1140px;
    }
    .flex-col-xxl {
        flex-direction: column;
    }
    .flex-row-xxl {
        flex-direction: row;
    }
}

@media screen and (max-width: 1200px) {
    .container-main {
        width: 960px;
    }
    .flex-col-xl {
        flex-direction: column;
    }
    .flex-row-xl {
        flex-direction: row;
    }
}

@media screen and (max-width: 992px) {
    .container-main {
        width: 720px;
    }
    .flex-col-lg {
        flex-direction: column;
    }
    .flex-row-lg {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .container-main {
        width: 540px;
    }
    .order-1-md {
        order: 1;
    }
    .order-2-md {
        order: 2;
    }

    .flex-col-md {
        flex-direction: column;
    }
    .flex-row-md {
        flex-direction: row;
    }
}

@media screen and (max-width: 576px) {
    .container-main {
        width: 100%;
    }
    .flex-col-sm {
        flex-direction: column;
    }
    .flex-row-sm {
        flex-direction: row;
    }
}
